//
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//  HEADER

.titolo{
    color: white;
}

.blue-side{
    background-color: rgb(12, 124, 236);
    height: 25px;

}

/* .testo-bluside{
    font-size: small;
    vertical-align: middle;
    
}

.logo-header{
    width: 70px;
}

.navbar{
    background-color: red;
    height: 100px;
    padding: 0px;
}

.container{
    padding: 0px;
}

ul{
    list-style-type: none;
} */

.header{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 85px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    margin-top: 1%;
    /* background-color: gray; */
}

.logo{
    width: 70px;
}
.menu{
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-around;
    width: 70%;
    padding-top: 2%;
}
.selected{
    font-weight: bold;
    color: rgb(12, 124, 236);
    border-bottom: 5px solid rgb(12, 124, 236);
}

/* input{
    border: 0;
    border-bottom: 3px solid rgb(12, 124, 236);
    vertical-align: middle;
} */

// JUMBOTRON

.jumbotron{
    height: 400px;
    width: 100%;
    background-image: url(../../public/img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// MAIN


.gray{
    background-color: rgb(22, 22, 22);
    height: 500px;
    width: 100%;
}